[submodule "themes/tranquilpeak"]
	path = themes/tranquilpeak
	url = https://github.com/RayBenefield/hexo-theme-tranquilpeak.git
[submodule "themes/icarus"]
	path = themes/icarus
	url = https://github.com/RayBenefield/hexo-theme-icarus.git
